/* google & custom fonts link */
@font-face {
    font-family: 'HelveticaStd500';
    src: url(./fonts/HelveticaStd500.ttf);
}
@font-face {
    font-family: 'AkiraExpanded';
    src: url(./fonts/AkiraExpanded.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
========================
GLOBAL CSS START HERE 
========================
*/

body {	
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #000;
    overflow-x: hidden;
}
html,
body,
header,
footer,
main,
nav,
section,
div,
menu,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
button {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

section {
    scroll-margin-top: 140px;
}

img {
    max-width: 100%;
}

::selection {
    color: white;
    background: #5AB281;
}

::-webkit-selection {
    color: white;
    background: #5AB281;
}

::-moz-selection {
    color: white;
    background: #5AB281;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #5AB281;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 30px;
    bottom: 25px;
    display: none;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 55;
}
.scrolltotop:hover {
    color: #fff;
}
.scrolltotop img {
    width: 14px;
    margin-top: -4px;
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.pluse,
.pluse2 {
    position: relative;
    top: 10px;
    left: -7px;
    z-index: -1;
}

.pluse::before,
.pluse2::before {
    width: 40px;
    height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
    background: #5AB281;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 4px;
    left: -1px;
}

.pluse::after,
.pluse2::after {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: -15px;
    margin-top: -15px;
}

.pluse::before {
    -webkit-animation: pluse_animate 2.5s infinite linear;
    animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}



/*
========================
HEADER CSS START HERE 
========================
*/
.header_area {
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
.header_logo {
    border-right: 1px solid #BFB8C1;
    padding-right: 20px;
}
.header_logo a img {
    width: 100%;
    max-width: 45px;
}
.header_content {
    width: 100%;
    max-width: 935px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFF;
    backdrop-filter: blur(100px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin-top: 20px;
}
.header_content > ul li a {
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 116.97%;
    transition: 0.3s;
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 2px;
}
.header_content > ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5BB674;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: 0.3s;
}

.header_content > ul li a:hover:after {
    left: 0;
}
.header_content > ul li a:hover {
    color: #5BB674;
}
.header_content > ul li a.active {
    font-weight: 700;
    color: #5BB674;
}
.header_content > ul {
    display: flex;
    align-items: center;
    gap: 60px;
}
button.getTouch_btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 116.97%;
    border-radius: 10px;
    background: #5BB674;
    width: 165px;
    min-height: 40px;
    border: 0;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

button.getTouch_btn i {
    margin-right: 5px;
    font-size: 14px;
}

button.getTouch_btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #000000;
    z-index: -1;
    transition: 0.5s;
}
button.getTouch_btn:hover:after {
    left: 0;
}

.hamburger_wrapper {
    width: 35px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}
.hamburger_wrapper span.line {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #000;
    display: block;
}


/*
========================
HERO CSS START HERE 
========================
*/
.hero_area {
    background: url(images/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 240px;
}
.hero_thumb img {
    width: 100%;
    max-width: 455px;
}
.hero_content > h1 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 96%;
    margin-bottom: 18px;
}
.hero_content > span {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 155%;
    display: block;
    margin-bottom: 30px;
}
.hero_content > ul li a {
    width: 235px;
    min-height: 78px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 155%;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.hero_content > ul li a.active {
    color: #4E9D64;
    background: #FFF;
}
/* .hero_content > ul li a.active:hover {
    color: #fff;
    background: #000;
    border-color: #000;
}
.hero_content > ul li a:hover {
    color: #4E9D64;
    background: #FFF;
} */

.hero_content > ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.5s;
    transform: scale(0);
}
.hero_content > ul li a.active::after {
    background-color: #000;
}
.hero_content > ul li a.active:hover {
    color: #fff;
    border-color: #000;
    transition: border-color 0.9s,color 0.6s;
}
.hero_content > ul li a:hover:after {
    left: 0;
    transform: scale(1.2);
}
.hero_content > ul li a:hover {
    color: #4E9D64;
    border-color: #fff;
    transition: border-color 0.8s, color 0.6s;
}
.hero_content > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


/*
========================
HERO BRAND START HERE 
========================
*/
.heroBrand_area {
    margin-top: -40px;
}
.heroBrand_left h4 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 155%;
    margin-bottom: 2px;
}
.heroBrand_left span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
}
.trustedBy_right > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.heroBrand_row {
    border-radius: 20px;
    border: 1px solid #5BB674;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(50px);
    padding: 30px 35px;
}


/*
========================
WHY CHOOSE START HERE 
========================
*/
.whyChoose_area {
    overflow-x: hidden;
    margin-top: 150px;
}
.whyChoose_content > h2 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 155%;
    margin-bottom: 2px;
}
.whyChoose_content > span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    display: block;
    margin-bottom: 10px;
}
.whyChoose_content > ul li {
    width: 100%;
    max-width: 473px;
    height: 88px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 155%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    margin-top: 20px;
    transition: 0.3s;
}
.whyChoose_content > ul li:hover,
.whyChoose_content > ul li.active {
    background: #65CB93;
}
.whyChoose_content > ul li:hover svg path:last-child,
.whyChoose_content > ul li.active svg path:last-child {
    fill: #fff;
}
.whyChoose_thumb > img {
    width: 100%;
    max-width: 505px;
    display: block;
    margin-left: auto;
}

/*
========================
Our Service START HERE 
========================
*/
.our_service_area {
    margin-top: 150px;
}
.our_service_header h2 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 155%;
    margin-bottom: 2px;
}
.our_service_header > span {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    display: block;
    margin-bottom: 70px;
}
.ourService_card {
    width: 100%;
    min-height: 235px;
    padding: 30px 20px;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.ourService_card::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #56A77A;
    bottom: -100%;
    left: -100%;
    transition: 0.6s;
    z-index: -1;
    border-radius: 50%;
}

.ourService_card:hover:after {
    bottom: 0;
    left: 0;
    transform: scale(2);
}
.ourService_card > h3 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 155%;
    transition: color 0.6s ease-in-out;
}
.ourService_card > span {
    color: #3C3C3C;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 155%;
    display: block;
    margin-bottom: 2px;
    transition: color 0.6s ease-in-out;
}
.ourService_card > a {
    color: #56A77A;
    font-size: 20px;
    font-weight: 700;
    line-height: 155%;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    transition: color 0.6s ease-in-out;
}
.ourService_card > a i {
    margin-top: 4px;
    margin-left: 10px;
    transition: 0.6s;
}
.ourService_card.active > h3 {
    color: #FFF;
}
.ourService_card.active > span {
    color: #E6E6E6;
}

.ourService_card.active > a {
    color: #FFF;
}
.ourService_card.active {
    background: #56A77A;
}
.ourService_card:hover > h3 {
    color: #FFF;
    transition: color 0.6s ease-in-out;
}
.ourService_card:hover > span {
    color: #E6E6E6;
    transition: color 0.6s ease-in-out;
}

.ourService_card:hover > a {
    color: #FFF;
    transition: color 0.6s ease-in-out;
}
/* .ourService_card:hover {
    background: #56A77A;

} */

.ourService_card.w_40 {
    width: 40%;
}
.ourService_card.w_45 {
    width: 45%;
}
.our_service_area button.more_btn {
    width: 10%;
    height: 145px;
    border-radius: 20px;
    background: #000;
    border: 0;
    color: #60DC97;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 155%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}
.our_service_area button.more_btn:hover {
    opacity: 0.8;
}
.our_service_area img.robo_overlay1 {
    width: 480px;
    position: absolute;
    top: -65%;
    left: -23%;
}


/*
========================
FAQ START HERE 
========================
*/
.faq_area {
    margin-top: 200px;
}
.faq_header h2 {
    font-family: 'AkiraExpanded';
    color: #121212;
    text-align: center;
    font-size: 38.4px;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: 12px;
}
.faq_header span {
    font-family: 'HelveticaStd500';
    color: #121212;
    text-align: center;
    font-size: 19.2px;
    font-weight: 400;
    line-height: 100%;
    display: block;
    margin-bottom: 32px;
}
.accordion_ris {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}
.accordion_item_ris {
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #F4F4F4;
    border-radius: 9.6px;

}
.accordion_header_ris {
    font-family: 'HelveticaStd500';
    color: #121212;
    font-size: 15.36px;
    font-weight: 500;
    line-height: 150%;
    transition: background 0.3s ease;
    border-radius: 9.6px;
    background: #F4F4F4;
    padding: 12px;
    border-left: 10px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    transition: 0.3s;
}
.accordion_header_ris.active {
    background: black;
    color: white;
    border-color: #56A77A;
}
.accordion_header_ris:hover {
    background: black;
    color: white;
    border-color: #56A77A;
}
.accordion_header_ris > i {
    transition: 0.3s;

}
.accordion_header_ris.active > i {
    transform: rotate(-90deg);
    color: #56A77A;
}
.accordion_header_ris .icon {
    transition: transform 0.3s ease;
}
.accordion_header_ris.active .icon {
    transform: rotate(180deg);
}
.accordion_content_ris {
    font-family: 'HelveticaStd500';
    display: none;
    color: #333;
    font-size: 13.44px;
    font-weight: 400;
    line-height: 140%;
    padding: 10px 20px;
}

/*
========================
CUSTOMER SAY START HERE 
========================
*/
.customerSay_area {
    margin-top: 200px;
}
.customerSay_header > h2 {
    color: #000;
    text-align: center;
    font-size: 34.56px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px
}
.customerSay_header > h2 span {
    color: #56A77A;
}
.customerSay_header > span {
    color: #161E2B;
    text-align: center;
    font-size: 17.28px;
    font-weight: 400;
    display: block;
    margin-bottom: 55px;
}
.customerSay_card {
    width: 100%;
    min-height: 230px;
    border-radius: 4.8px;
    border: 0.96px solid rgba(39, 92, 137, 0.40);
    background: #FFF;
    padding: 28px;
}
.customerSay_card_header {
    display: flex;
    align-items: center;
    gap: 19px;
}
.customerSay_card_header > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.customerSay_card_header > h6 {
    color: #161E2B;
    text-align: center;
    font-size: 15.36px;
    font-weight: 400;
}
.customerSay_card_body > p {
    color: #000;
    font-size: 15.36px;
    font-weight: 400;
    margin-top: 20px;
}
.customerSay_card_wrapper {
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.customerSay_card_wrapper .swiper-scrollbar {
    background: #DDD;
    border-radius: 10px;
    height: 8px;
}
.customerSay_card_wrapper .swiper-scrollbar-drag {
    border-radius: 9.6px;
    background: #56A77A;
    cursor: grabbing;
}


/*
========================
CUSTOMER SAY START HERE 
========================
*/
.footer_subscription_area {
    margin-top: 200px;
}
.footer_subscription_content {
    border-radius: 50px;
    background: linear-gradient(77deg, #0B211E 1.77%, #56A77A 98.23%);
    padding: 70px 125px;
}
.footer_subscription_content > h2 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 104%;
    margin-bottom: 24px;
}
.footer_subscription_content > p {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 134.588%;
    margin-bottom: 20px;
}
.footer_subscription_content > form {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.footer_subscription_content > form input {
    width: 100%;
    min-height: 90px;
    display: block;
    border-radius: 15px;
    background: #D8FFEC;
    outline: none;
    border: 0;
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 134.588%;
    padding: 25px 30px;
}
.footer_subscription_content > form button {
    width: 170px;
    min-height: 75px;
    border-radius: 8px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 134.588%;
    border: 0;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.footer_subscription_content > form button:hover {
    background: #5AB281;
    color: #000;
}
.footer_subscription_content .robo_overlay {
    width: 100%;
    max-width: 370px;
    position: absolute;
    top: -165px;
    left: -124px;
}


/*
========================
footer START HERE 
========================
*/
.footer_area {
    background-color: #1D1D1D;
    margin-top: 120px;
    padding-top: 100px;
}
.footer_logo_content a.logo img {
    width: 100%;
    max-width: 210px;
}
.footer_logo_content > p {
    color: #A9A9A9;
    font-size: 19.272px;
    font-weight: 500;
    line-height: 116.97%;
    margin-top: 20px;
}
.footer_logo_content > ul {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.footer_logo_content > ul li a {
    font-size: 40px;
    color: #FFFFFF;
    transition: 0.3s;
}
.footer_logo_content > ul li a:hover {
    color: #5AB281;
}
.footer_link > h4 {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 116.97%;
    margin-bottom: 29px;
}
.footer_link > ul li a {
    color: #A9A9A9;
    font-size: 19.272px;
    font-weight: 400;
    line-height: 116.97%;
    transition: 0.3s;
}
.footer_link > ul li a:hover {
    color: #5AB281;
}
.footer_link > ul li {
    margin-bottom: 25px;
}
.footer_address > h4 {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 116.97%;
    margin-bottom: 29px;
}
.footer_address > ul li a {
    color: #A9A9A9;
    font-size: 19.272px;
    font-weight: 400;
    line-height: 116.97%;
}
.footer_address > ul li a:hover {
    color: #5AB281;
}
.footer_address > ul li {
    margin-bottom: 20px;
}
.footer_address > form {
    position: relative;
    margin-top: 10px;
}
.footer_address > form input {
    width: 100%;
    min-height: 50px;
    padding: 0 12px;
    border-radius: 10px;
    background: #2D2D2D;
    border: 0;
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 400;
    line-height: 116.97%;
}
.footer_address > form button {
    width: 75px;
    height: 40px;
    border-radius: 5.541px;
    background: #000;
    border: 0;
    color: #FFF;
    font-size: 13.297px;
    font-weight: 700;
    line-height: 116.97%;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}
.footer_address > form button:hover {
    color: #000;
    background-color: #fff;
}

.footer_copyright {
    padding: 35px 0;
    border-top: 1px solid #414141;
    margin-top: 50px;
}
.footer_copyright p {
    color: #A9A9A9;
    font-size: 19.272px;
    font-weight: 400;
    line-height: 116.97%;
    text-align: center;
}



/* --------------------------------ABOUT US PAGE START HERE---------------------------------- */


/*
========================
ABOUT HERO START HERE 
========================
*/
.hero_area.aboutUS {
    background: url(images/thumb6.png);
    padding-top: 220px;
    padding-bottom: 190px;
    background-size: cover;
}
.hero_area.aboutUS .hero_content > span {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}


/*
========================
WHY US START HERE 
========================
*/
.whyUs_area {
    margin-top: -80px;
}
.whyUs_row {
    min-height: 230px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 4px 20px -6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
    padding: 25px;
}
.whyUstitle > h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
    display: block;
}
.whyUstitle {
    border-right: 1px solid #5B7E5C;
    padding: 70px 0;
    width: fit-content;
    padding-right: 25px;
}
.whyUs_middle > ul li h3 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
    margin-bottom: 5px;
}
.whyUs_middle > ul li span {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 96%;
    display: inline-block;
}
.whyUs_middle > ul {
    display: flex;
    justify-content: space-between;
}
.whyUs_right > h3 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
    text-align: center;
    margin-bottom: 8px;
}
.whyUs_right > img {
    display: block;
    width: 100%;
    max-width: 245px;
    margin: 0 auto;
}

/*
========================
whoWeAre START HERE 
========================
*/
.whoWeAre_area {
    margin-top: 100px;
}
.whoWeAre_header > h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
}
.whoWeAre_header > button {
    width: 225px;
    min-height: 55px;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 155%;
    border: 0;
    border-radius: 10px;
    background: rgba(86, 194, 116, 0.60);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.3s;
}
.whoWeAre_header > button:hover {
    color: #fff;
    background-color: #000;
}

.whoWeAre_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.whoWeAre_left > p {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 15px;
}
.whoWeAre_left > img {
    width: 100%;
    display: block;
    border-radius: 20px;
}
.whoWeAre_right > img {
    width: 100%;
    display: block;
    border-radius: 20px;
}
.whoWeAre_right > p {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 15px;
}

/*
.whoWeAre_right > button {
    width: 100%;
    min-height: 95px;
    border: 0;
    border-radius: 20px;
    background: #D7F2B5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #000;
    font-weight: 600;
    line-height: 155%; 
    transition: 0.3s;
    margin-top: 25px;
}
.whoWeAre_right > button:hover {
    color: #fff;
    background-color: #000;
} */

/*
========================
our vision START HERE 
========================
*/
.ourVision_area {
    margin-top: 100px;
}
.ourVision_content {
    background-image: url(images/thumb9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 54px;
    padding-bottom: 32px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.ourVision_content::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(36, 59, 46, 0.40) 0%, rgba(0, 0, 0, 0.80) 100%);
    top: 0;
    left: 0;
    z-index: -1;
}
.ourVision_content > h4 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}
.ourVision_content > p {
    color: #A1FFBB;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 18px;
}
.ourVision_content > a {
    width: 162px;
    min-height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 155%;
    background: rgba(255, 255, 255, 0.60);
    margin: 0 auto;
    transition: 0.3s;
}
.ourVision_content > a:hover {
    background-color: rgba(86, 194, 116, 1);
}


/*
========================
team member START HERE 
========================
*/
.teamMember_area {
    margin-top: 100px;
}
.ourTeam_header_left > h2 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 96%;
}
.ourTeam_header_left > h2 span {
    color: #56A77A;
}
.ourTeam_header_left {
    width: 100%;
    max-width: 414px;
    border-radius: 15px;
    background: #F4F4F4;
    padding: 22px 35px;
    position: relative;
    margin-left: auto;
}
.ourTeam_header_left > img {
    width: 100%;
    max-width: 165px;
    position: absolute;
    top: 20px;
    left: -80px;
}
.ourTeam_header_right > p {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 155%;
    width: 100%;
    max-width: 628px;
}
.teamMemberIsoTop_wrapper .grid {
    display: flex;
}
.teamMemberIsoTop_wrapper .element-item {
    border: 10px solid #fff;
    width: 33.33%;
}

.teamMember_card {
    border-radius: 25px;
    border: 1px solid #DADADA;
    background: #FAFAFA;
    padding: 8px;
}
.teamMember_card .thumb > span {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    line-height: 155%;
    border-radius: 14px;
    padding: 10px;
    position: absolute;
    bottom: 8px;
    right: 5px;
}
.teamMember_card.color1 .thumb > span {
    background: rgba(255, 234, 158, .5);
    color: #FFD84D;
}
.teamMember_card.color3 .thumb > span {
    color: #FFF;
    background: rgba(158, 71, 166, 0.55);
}
.teamMember_card.color2 .thumb > span {
    color: #4DFFFF;
    background: rgba(71, 149, 166, 0.55);
}
.teamMember_card .thumb {
    overflow: hidden;
    border-radius: 20px;
}
.teamMember_card:hover .thumb > img {
    transform: scale(1.1);
}
.teamMember_card .thumb > img {
    transition: 0.3s;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top center;
}
.teamMember_card .card_body {
    padding: 15px 10px;
}
.teamMember_card .card_body > h4 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 10px;
}
.teamMember_card .card_body > p {
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
}
.teamMember_card .card_body > a {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    background: #56A77A;
    gap: 8px;
    transition: 0.3s;
    margin-top: 15px;
}
.teamMember_card .card_body > a:hover {
    background: #000;
    color: #fff;

}
.teamMember_card .card_body > a i {
    font-size: 16px;
}
.isoTopBtn_wrapper > button {
    display: inline-block;
    padding: 10px 24px;
    border: 0;
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 400;
    line-height: 96%;
    border-radius: 5px;
    background: #D6D6D6;

}
.isoTopBtn_wrapper > button.is-checked,
.isoTopBtn_wrapper > button:hover {
    background-color: #000;
    color: #fff;
}
.isoTopBtn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

/*
========================
contact hero START HERE 
========================
*/
.hero_area.contact {
    background: url(images/ctHero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 865px;
}
.hero_area.contact .hero_content h1 {
    color: #000;
    font-size: 32px;
}
.hero_area.contact .hero_content span {
    color: #515151;
    text-align: center;
    font-size: 24px;
}


/*
========================
contact Form START HERE 
========================
*/
.contactForm_wrapper {
    margin-top: -350px;
}
.contactForm_row {
    border-radius: 40px;
    border: 1px solid #DDD;
    background: #FAFAFA;
    box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.35);
}
.contactForm_wrapper .contactForm_left {
    height: 100%;
    border-radius: 40px;
    background: #5AB281;
    padding-top: 150px;
    padding-bottom: 250px;
    padding-left: 10px;
    padding-right: 10px;
}
.contactForm_wrapper .contactForm_left > h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 116%;
    padding-left: 100px;
    margin-bottom: 20px;
}
.contactForm_wrapper .contactForm_left ul.contact_list {
    padding-left: 100px;
}
.contactForm_wrapper .contactForm_left ul.contact_list li a {
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 116%;
}
.contactForm_wrapper .contactForm_left ul.contact_list li {
    margin-bottom: 30px;
}
.contactForm_wrapper .contactForm_left > hr {
    color: #92D6B0;
    height: 2px;
    opacity: 1;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 74px;
}
.contactForm_wrapper .contactForm_left > h4 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 116%;
    padding-left: 100px;
    margin-bottom: 20px;
}
.contactForm_wrapper .contactForm_left > ul.social_list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
}
.contactForm_wrapper .contactForm_left > ul li a {
    font-size: 40px;
    color: #FFFFFF;
    transition: 0.3s;
}

.contactForm_right .form_input label {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 116%;
    display: block;
    margin-bottom: 7px;
}
.contactForm_right .form_input input {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 116%;
    width: 100%;
    min-height: 65px;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    padding: 0 12px;
    transition: 0.3s;
}
.contactForm_right .form_input input:focus {
    border-color: #5AB281;
}
.contactForm_right .form_input {
    margin-bottom: 25px;
}
.contactForm_right {
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 80px;
    padding-bottom: 34px;
}
.contactForm_right .form_input select {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 116%;
    width: 100%;
    min-height: 65px;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    padding: 0 12px;
    transition: 0.3s;
}
.contactForm_right .form_input select:focus {
    border-color: #5AB281;
}
.contactForm_right .form_input textarea {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 116%;
    width: 100%;
    min-height: 160px;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    padding: 0 12px;
    transition: 0.3s;
    padding-top: 25px;
    resize: none;
}
.contactForm_right .form_input textarea:focus {
    border-color: #5AB281;
}
.contactForm_right .form_btn button {
    width: 100%;
    max-width: 185px;
    min-height: 60px;
    border: 0;
    border-radius: 10px;
    background: #5AB281;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 116.97%; 
    transition: 0.3s;
    display: block;
    margin-left: auto;
}
.contactForm_right .form_btn button:hover {
    background-color: #000;
    color: #fff;
}

#emailSend_msg {
    background-color: rgb(4, 201, 4);
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#emailSend_msg > i {
    font-size: 25px;
    display: block;
    cursor: pointer;
}


/************************* service page start here *************************/

.hero_area.services {
    padding-top: 170px;
    background: linear-gradient(90deg, #5AB281 0%, #1A3727 100%);
}

.services_hero_content > img {
    width: 100%;
    max-width: 735px;
}
.services_hero_content .services_hero_inner {
    width: 100%;
    max-width: 410px;
}
.services_hero_content .services_hero_inner h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 116%;
    margin-bottom: 15px;
}
.services_hero_content .services_hero_inner p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.services_hero_content .services_hero_inner ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 116.97%;
    width: 175px;
    min-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
}
.services_hero_content .services_hero_inner ul li:first-child a {
    color: #000;
    background: #FFF;
}
.services_hero_content .services_hero_inner ul li:first-child a:hover {
    background: #000;
    color: #FFF;

}
.services_hero_content .services_hero_inner ul li:last-child a {
    background: rgba(255, 255, 255, 0.20);
    color: #FFF;
}
.services_hero_content .services_hero_inner ul li:last-child a:hover {
    color: #000;
    background: #FFF;
}
.services_hero_content .services_hero_inner ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.services_hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}


/*
========================
expert team START HERE 
========================
*/
.expertService_area {
    margin-top: 90px;
}
.expertService_header h2 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 116.97%;
    margin-bottom: 15px;
}
.expertService_header p {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    width: 100%;
    max-width: 385px;
    margin: 0 auto;
}



.expertService_tabBtn ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.expertService_tabBtn ul li a {
    color: #3D3D3D;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 96%;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background: #D6D6D6;
    border: 0;
    transition: 0.3s;
}
.expertService_tabBtn ul li a:hover,
.expertService_tabBtn ul li a.active {
    border-radius: 5px;
    background: #000;
    color: #FFF;
}

.expertService_title h3 {
    color: #141B34;
    font-size: 24px;
    font-weight: 600;
    line-height: 116%;
    margin-bottom: 0;
}

.expertServic_card {
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    background: #FAFAFA;
    padding: 20px 45px;
    padding-bottom: 12px;
}
.expertServic_card > img {
    width: 100%;
    max-width: 100px;
    display: block;
    margin-bottom: 3px;
}
.expertServic_card > h4 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 116%;
    margin-bottom: 3px;
}
.expertServic_card > p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 116%;
    margin-bottom: 20px;
}
.expertServic_card > a {
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #56A77A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 116%;
    transition: 0.3s;
}
.expertServic_card > a:hover {
    background-color: #141B34;
    color: #fff;
}



/*
==============================
SERIVICE DEV PAFE START HERE 
==============================
*/
.hero_content.service_dev > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 440px;
    min-height: 78px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: 0.3s;
}
.hero_content.service_dev > a:hover {
    background-color: #5BB674;
    color: #fff;
}

.devLang_area {
    margin-top: 100px;
}
.devLang_content h2 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.devLang_content h2 span {
    color: #56A77A;
}
.devLang_content > img {
    display: block;
    width: 100%;
    max-width: 505px;
    margin: 0 auto;
}


.recentWork_area {
    margin-top: 100px;
}
.recentWork_header h2 {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}
.recentWork_header p {
    color: #515151;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 30px;
}

.recentWork_content > img {
    width: 100%;
    height: 555px;
    object-fit: cover;
    object-position: top;
    transition: 1s;
    cursor: pointer;
}
.recentWork_content > img:hover {
    object-position: bottom;
}

.hero_area.serviceDev {
    background: url(images/thumb14.png);
    background-size: cover;
}

.serviceDevBlog_area {
    margin-top: 100px;
}
.serviceDevBlog_content > h3 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 14px;
}
.serviceDevBlog_content > p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.serviceDevBlog_content > a {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #161616;
    width: 100%;
    max-width: 440px;
    min-height: 78px;
    margin-top: 13px;
}
.serviceDevBlog_content > a:hover {
    background: #56A77A;
}
.serviceDevBlog_thumb > img {
    width: 100%;
}
.serviceDevBlog_area .mt_100 {
    margin-top: 100px;
}